body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  cursor: pointer;
}
#time {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 6em;
}
